/*
Modelo de tabela:
Não alterar nada proveniente daqui,
para aumentar a largura e altura ou paleta de cores
alterar inline.

ass:Vitinho ;)
*/
.table-list table{
    width:auto;
    border-radius:5px;

    background-color: white;
    box-shadow: 0px 0px 5px rgba(196, 196, 196, 1);
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    overflow:hidden;

    font-family:verdana;
    border-spacing: 0px;
}

.table-list table tr:first-child {
box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
background-color:#335fb1;

}


.table-list th {
font-size: 16px;
text-transform: uppercase;
color: rgb(255, 255, 255);

line-height: 1.8;

background-color: transparent;
}

.table-list tr:nth-child(2n+3) {
    background-color: rgb(238, 238, 238);
}


.table-list tr:hover{
    background-color: #d6deff;
}

.table-list td {
font-size: 15px;
color: #727272;
line-height: 2.6;
text-align:center;
overflow:hidden;

padding:0 10px 0 10px;
}

.table-list .table-info:hover{
    cursor:pointer;
}

.status-green{
    color:rgb(0, 128, 0) !important;
}

.status-orange{
    color:rgb(230, 156, 20) !important;
}

.status-red{
    color:rgb(194, 7, 7) !important;
}