*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#curriculos-add-cont{
    margin-top:100px;
}


#curriculos-add-cont a li{
    display:flex;
    align-items: center;
    list-style: none;
    margin-bottom:10px;
    padding-left:10px;
    
    width:200px;
    height:40px;
    border-radius:5px;
    background-color:rgb(47, 80, 151);

    font-size: 18px;
    font-stretch: condensed;
    text-transform: capitalize;
    text-decoration: none;
    color:rgb(255, 255, 255);

}

#curriculos-add-cont a li:hover{
    background-color:rgb(47, 151, 47);
    box-shadow:0px 0px 5px rgb(47, 151, 47);
}

/*popups*/
/* container para os popups */
#cont-esc{display:none;}

#cont-cur{display:none;}

#cont-hab{display:none;}

#cont-exp{display:none;}

.container-popup{
    z-index: 10;
    display:none;
    background-color: rgba(0, 0, 0,0.5);
    
    width:auto;
    margin:0 auto;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;

    justify-content: center;
    align-items: center;
}

.container-formacao{
    display:flex;
    flex-direction: column;

    width:700px;
    height:auto;
    border-radius:15px;

    top:150px;
    left:0;
    right:0;
    margin:auto;

    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(73, 73, 73);
}


/* botão 'X' para fechar */
.close-pop{
    width:20px;
    height:20px;
    padding-left: 1px;
    border-radius:20px;
    background-color:rgb(146, 40, 40);
    color:white;
    font-weight: bold;
    overflow: hidden;
    
    text-align: center;
    line-height: 1.7;
    font-size: 12px;

    float:right;

    -webkit-user-select: none;
}
    .close-pop:hover{
        cursor: pointer;
        background-color: rgb(182, 48, 48);
    }

/* conteudos da formação */
.topo-formacao,
.footer-formacao{
    width:100%;
    height:55px;

    background-color:rgb(223, 223, 223);
    padding:10px 10px 0px 20px;
    border-radius:15px 15px 0px 0px;
    
    box-shadow: rgb(156, 156, 156) 0px 5px 5px -2px;
}

.footer-formacao{
    border-radius:0px 0px 15px 15px;
    box-shadow: rgb(156, 156, 156) 0px -5px 5px -2px;
}

.topo-formacao h3{
    margin-top:10px;
    color:dodgerblue;
    text-shadow: dodgerblue 0px 0px 1px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display:inline-block;
}

.conteudos-formacao{
    width:100%;
    display:block;

    padding:20px;
}

.conteudos-formacao li{
    list-style: none;
    display:flex;

    color:rgb(56, 56, 56);
}


.conteudos-formacao li input:hover,
.conteudos-formacao li select:hover{
    background-color: transparent !important;
}

.conteudos-formacao li input,
.conteudos-formacao li select,
.conteudos-formacao li textarea{
    height: 40px;
    padding:5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #c4c4c4;
    outline:#c4c4c4;
    color:rgb(48, 48, 48);

    border-radius: 10px;
    opacity: 1;
    font-size:16px;
}


.titulos-formacao:first-child{
    margin-top:0px !important;
}

.titulos-formacao{
    font-size:14px;
    letter-spacing: 0.5px;
    margin:10px 0px 5px 0px;
}

.conteudos-formacao li select{
    padding:5px;
    font-size:14px;
}

.btnConfirma{
    float:right;
    width:100px;
    height:35px;
    border:none;
    border-radius:5px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: seagreen;
    color:white;
}

.btnConfirma:hover{
    box-shadow: seagreen 0px 0px 4px;
    cursor: pointer;
}






/* Listagem dos itens do curriculo */

.container-curriculo{
    width:450px;
    min-height: 50px;
    height:auto;
    padding:5px;
    margin-top:50px;

    border-top: 2px solid #0e69b3;
    border-radius: 5px;
}

.container-curriculo::before{
    position: absolute;
    margin:-25px 0px 0px -5px;

    color:rgb(31, 130, 223);
    font-weight: 600;
}

#cont-hab-list::before{
    content:"Habilidades";
}

#cont-hab-list p{
    font-size:14px;
    display:inline-block;    
}

.habilidades{
    width:auto;
    height:35px;
    margin:5px;
    padding-left:10px;
    border-radius:5px;
    background-color:#c4c4c4;
    display:inline-block;
}

.exc-hab{
    height:35px;
    width:25px;

    background-color: #c4c4c4;
    border:none;
    border-radius:0px 5px 5px 0px;

    outline:none;
}

.exc-hab:hover{
    background-color: #e0e0e0;
    cursor:pointer;
}

#cont-esc-list::before{
    content:"Formação Acadêmica";
}

.escolaridades li,
.cursos li,
.experiencias li{
    margin-top:5px;
}

.escolaridades li:last-child::after,
.cursos li:last-child::after,
.experiencias li:last-child::after{
    content:"";
    display:block;
    height:1px;
    width:250px;
    margin:10px 0px;
    background-color: #0e69b3;
}

.escolaridades li h5,
.escolaridades li p,
.cursos li h5,
.cursos li p,
.experiencias li h5,
.experiencias li p{
    display:inline-block;
    font-size:13px;
}

#cont-cur-list::before{
    content:"Cursos";
}

.conteudos-formacao textarea{
    resize: none;
    overflow-y: auto;

    width:100%;
    height:250px !important;
    
}

.conteudos-formacao li input:disabled,
.conteudos-formacao li input:disabled:hover{
    background-color: #adadad !important;
}

#cont-exp-list::before{
    content:"Experiências";
}

.exc-Curriculo{
    width:70px;
    height:30px;
    font-size:12px;
    border:none;
    border-radius:5px;
    letter-spacing: 0.5px;

    background-color:rgb(133, 36, 36);
    color:white;

    transition:font-size 0.3s ease-in-out;
}

.exc-Curriculo:hover{
    box-shadow:0px 0px 2px rgb(133, 36, 36);
    font-size:14px;
    cursor:pointer;
}