#explicacao{
    width:auto;
    height:auto;
}

#explicacao h1 {
    color: #5992c2;
    font-family: 'Bree Serif', serif;
}

#explicacao h2 {
    color: #5992c2;
    text-align: left;
    margin: 2px;
    font-family: 'Bree Serif', serif;
}

#exp-cont {
    background-color: white;
    height: 110px;
    margin-top: 200px;
    text-align: center;
    border-bottom: 2px solid #CCC;
}

#header-exp > ul li {
    display: inline;
    font-size: 20px;
    padding: 15px 32px;
    margin: 15px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: none;
    text-align: center;
}

#header-exp > ul li a {
    color: silver
}

#header-exp > ul li :hover {
    background-color: silver;
    color: white;
    border-radius: 5px;
    padding: 15px 32px;
}

#header-exp > ul {
    margin-top: 15px;
    border: 1px solid white;
    background-color: white;
    height: 40px;
    padding-top: 15px;
}

.exp-cont {
    width: 1060px;
    margin: auto;
    padding: 30px;
}

#img1 {
    text-align: center;
    background-color: white;
    height: 115px;
    width: 15%;
    float: left;
    margin: 10px 7px 7px 7px;
    border: 2px solid #CCC;
    border-radius: 10px;
}

#text1 {
    margin-top: 10px;
    text-align: left;
    background-color: white;
    height: 130px;
    width: 83%;
    float: right;
    border-bottom: 2px solid #CCC;
}

#img2 {
    text-align: center;
    clear: both;
    background-color: white;
    height: 115px;
    width: 15%;
    float: left;
    margin: 10px 7px 7px 7px;
    border: 2px solid #CCC;
    border-radius: 10px;
}

#text2 {
    margin-top: 10px;
    text-align: left;
    background-color: white;
    height: 130px;
    width: 83%;
    float: right;
    border-bottom: 2px solid #CCC;
}

#img3 {
    text-align: center;
    clear: both;
    background-color: white;
    height: 115px;
    width: 15%;
    float: left;
    margin: 10px 7px 7px 7px;
    border: 2px solid #CCC;
    border-radius: 10px;
}

#text3 {
    margin-top: 10px;
    text-align: left;
    background-color: white;
    height: 130px;
    width: 83%;
    float: right;
    border-bottom: 2px solid #CCC;
}

#img4 {
    text-align: center;
    clear: both;
    background-color: white;
    height: 115px;
    width: 15%;
    float: left;
    margin: 10px 7px 7px 7px;
    border: 2px solid #CCC;
    border-radius: 10px;
}

#text4 {
    margin-top: 10px;
    text-align: left;
    background-color: white;
    height: 130px;
    width: 83%;
    float: right;
    border-bottom: 2px solid #CCC;
}