*{
    box-sizing: border-box;
}

#main-top,#line-nav{
    z-index:10;
}

#main-top{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0px 25px;
    width: 100% !important;
    height: 65px;
    background-color:rgb(13, 94, 151); 
    background: rgb(16,67,126);
    background: linear-gradient(90deg, rgba(16,67,126,1) 0%, rgba(33,80,182,1) 40%, rgb(0, 107, 207) 100%);
}

#logo-main{
    float: left;
    width:110px;
    height:100%;
    padding-top:1px;
    display:flex;
    align-items: center;
    justify-content: center;
}

    #logo-main img{
        width:auto;
        height:auto;
        max-width:110px;
        max-height: 100%;
    }

.menu{
    width:480px;
    height:100%;
    float: right;
}

.campo-main label{
    display:flex;
    color:white;
    font-size:14px;
    font-weight: 400px;
}

#form-login{
    float:right;
    display:flex;
    padding-top:10px;
}

.campo-main input{
  width: 160px;
  height:25px;
  outline: 0;
  font-size: 15px;
  padding: 5px 5px 5px 5px;

  margin:0px 10px 0px 0px;
  border:0;
  border-radius:2px;
}

#form-login button{
    width: 100px;
    height:25px;
    margin-top:15px;
    font-size: 20px;
    color: white;
    background:#0aaa5a;

    border:0;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
}

     #form-login button:hover{
          background-color:  #25bb57;
          box-shadow: 0px 0px 5px  #25bb57;
          text-decoration:none;
          cursor: pointer;
  
      }

/* navegação menu */
#line-nav{
    position:fixed;
    top:65px;
    width:100%;
    height:20px;
    background-color: #ffffff;

    border-bottom:1px solid rgb(13, 94, 151);
}

#line-nav ul{
    width:310px;
    height:100%;
    margin:0 auto;
    padding:0px;
}

#line-nav ul li{
    display:inline-block;
    text-align:center;

    width:80px;
    height:100%;
    margin-right:20px;

    font-size:15px;
    font-weight: 600;
    color:rgb(13, 94, 151);

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out ;
}

#line-nav ul li:hover{
    background-color: rgb(8, 173, 63);
    color:rgb(255, 255, 255);

    cursor:pointer;
}






/* scroll site */

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #43d095;
  border: 0px none #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #43d09a;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #20cf9b;
}
::-webkit-scrollbar-thumb:active {
  background: #1ded9d;
}
::-webkit-scrollbar-track {
  background: #e9e9e9;
  border: 29px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #dbdbdb;
}
::-webkit-scrollbar-track:active {
  background: #d3d3d3;
}
::-webkit-scrollbar-corner {
  background: transparent;
}