* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EBF2F5;
}

#perfil {
    display: flex;
    width:800px;
    height:auto;
    margin-top:150px;
    margin:150px auto 150px auto;

}

aside.menu-lateral {
    height: 370px;
    background: #f5f5f5;
    box-shadow: 0px 0px 5px #bdbdbd;
    padding: 10px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside.menu-lateral footer button {
    width: 48px;
    height: 48px;
    border:none;
    background: #5980ff;
    border-radius:1.6rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-nome {
    text-align: center;
}

.foto-perfil img {
    width: 150px;
    border-radius: 50%;
}

.options {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:10px;
}

.options button{
    margin:5px 0px;
}

main {
    flex: 1;
}

.conteudo {
    padding-left: 70px;   
}

.informacoes {
    display: flex;
    flex-direction: column;
    width:600PX;
    height:100%;
    background: rgb(255, 255, 255);
    box-shadow:0px 0px 5px rgb(148, 148, 148) ;

    padding:10px;
}

.informacoes p{
    margin-bottom:10px;
}